#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}

body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: 'Oswald',Verdana,sans-serif; 
}

.nav {
    position: fixed;
    text-align: center;
    width: 100%;
    background: #000;
    z-index: 1;
}

.nav-top li {
    display: inline-block;
    width: 130px;
    font-weight: bold;
    color: white;
}

a {
    color: white;
    background-color: black;
    text-decoration: none!important;
    cursor: pointer;
}

a:link {
    color: white;
    background-color: black;
    text-decoration: none!important;
    cursor: pointer;
}

a:visited {
    color: white;
    background-color: black;
    text-decoration: none!important;
    cursor: pointer;
}   

a:hover {
    color: seagreen;
    background-color: black;
    text-decoration: none!important;
    cursor: pointer;
}

a:active {
    color: seagreen;
    background-color: #000;
    text-decoration: none!important;
    cursor: pointer;
}

.ots {
    position: relative;
    bottom: 33px;
    width: 160px;
    height: auto;
    margin-top: 50px;
    z-index: 0;
}

.logo {
    display: flex;
    position: relative;
    right: 4px;
    z-index: 0;
}

.club {
    display: inline-block;
    position: relative;
    bottom: 176px;
    left: 170px;
}

h1 {
    font-weight: normal;
    font-family: 'Oswald',Verdana;
}

h3 {
    position: relative;
    bottom: 20px;
    font-weight: normal;
}

.summary {
    position: relative;
    top: 0px;
    width: 100%;
    height: 363.6px;
    margin: auto;
}

.weareshamrocks {
    position: relative;
    right: 5px;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    width: auto;
}

.founded {
    position: relative;
    bottom: 10px;
    left: 0;
}

.button-container {
    position: relative;
    bottom: 180px;
}

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: seagreen; 
    color: black; 
    border: 2px solid seagreen;
  }
  
  .button1:hover {
    background-color: white;
    color: seagreen;
  }

  .button:active {
    box-shadow: 0px 0px;
    background-color: seagreen;
    color: black
  }

  @keyframes fade {
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
  }

  #slider {
    position: relative;
    bottom: 800px;
    left: 200px;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
  }

  .slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none;
  }

  #dot {
    margin: 0 auto;
    text-align: center;
  }

  .dot {
    display: inline-block;
    border-radius: 50%;
    background: #d3d3d3;
    padding: 8px;
    margin: 10px 5px;
  }

  .active {
    background: seagreen;
  }

  @media (max-width: 567px) {
    #slider{
        width: 100%;
    }
  }